<h4>Formularios <small>Template</small></h4>
<hr>

<div class="container">
  <form action="">

    <div class="row">
      <div class="col-5">
        <label for="fname" class="lbl">Nombre</label>
      </div>
      <div>
        <input type="text" id="fname" placeholder="Nombre" class="txtbox">
      </div>
    </div>

    <div class="row">
        <div class="col-5">
          <label for="femail" class="lbl">Email</label>
        </div>
        <div>
          <input type="text" id="femail" placeholder="Correo Electronico" class="txtbox">
        </div>
      </div>

      <div class="row">
            <div class="alinea-btn">
                <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
            </div>
      </div>
    </form>
  
</div>
  

